body {
font-family: Arial, sans-serif;
margin: 20px;
background-color: #090909ff;
}

header {
background-color: #342e8bff;
color: white;
padding: 10px;
text-align: center;
}

section {
background-color: white;
padding: 15px;
margin-top: 20px;
border-radius: 8px;
}

input, select, textarea, button {
display: block;
width: 100%;
margin: 10px 0;
padding: 8px;
}

button {
background-color: #748b2eff;
color: white;
border: none;
cursor: pointer;
}

button:hover {
background-color: #24526bff;
}
